html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin  label{
  font-size: 1rem;
  text-align: center;
 
}

 .form-signin .form-floating:focus-within { /*cuando gana el foco lo manda a un lado */
  z-index: 2;
  color: blue;
}

.form-signin .email {
  margin-bottom: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .username {
  margin-bottom: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .password  {
  margin-bottom: 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
