<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td style="padding-right: 20px">
            <table
              width="100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
              align="left"
              style="
                padding-bottom: 10px;
                border: none;
                border-left: 0px;
                border-right: 0px;
              "
            >
              <tbody>
                <tr>
                  <td align="center">
                    <a href="">
                      <img
                        border="0"
                        width="150px"
                        style="
                          border: none;
                          border-left: 0px;
                          border-right: 0px;
                        "
                        alt="logo Jred"
                        src="#"
                        class="CToWUd"
                        data-bit="iit"
                      />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table
              width="100%"
              cellspacing="0"
              cellpadding="0"
              border="0"
              bgcolor="#ffffff"
              align="left"
              style="padding-bottom: 0; margin-bottom: 0"
            >
              <tbody>
                <tr>
                  <td align="left">
                    <br />
                    <p>Hola, <strong>{{ nombre_user}}</strong>.</p>

                    <p>
                      Necesitamos tu confirmación para poder darte acceso a la
                      plataforma.
                    </p>
                    <p>
                      Retorna a la plataforma e ingresa el código inscrito aquí
                      debajo:
                    </p>
                    <div
                      style="
                        background: #d9edf7;
                        border: 1px solid #bce8f1;
                        color: #0eb3f5;
                        text-align: center;
                        font-size: 42px;
                        padding: 20px;
                      "
                    >
                      <strong>{{ code }}</strong>
                    </div>
                    <br />

                    <br />
                  </td>
                </tr>
                <tr>
                  <td >
                    <a
                      class="boton"
                      style="
                    
                        display: inline-block;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: white;
                        background-color: #028343; 
                        text-decoration:inline-block;
                        border-radius: 5px; 
                        "
                      href="{{ confirm_url}}">link de Confirmacion:</a
                    >
                    <br />

                    <br />
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Muchas gracias,</strong><br />
                    <strong>Equipo Jhon Rojo</strong>.<br /><br />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
